<!DOCTYPE html>
<html ng-app = "productManagement" ng-controller="ThemeListCtrl as vm">
<head lang="en">
  <META character="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <title>Uke 2.29</title>
  <link rel="shortcut icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="apple-touch-icon-iphone-60x60.png">
  <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-ipad-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-iphone-retina-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-ipad-retina-152x152.png">
  
  <!-- Style Sheets-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="css/toastr.css" rel="stylesheet">
  <link href="css/app.css" rel="stylesheet">
  <link href="css/buttons.css" rel="stylesheet">
  <link href="css/ng-audio.css" rel="stylesheet">


  <!--Mess with style -->
  <link ng-href="{{favoriteCookie}}" rel="stylesheet">

  <!-- Libraries Scripts -->
  <script src="js/jquery.js"></script>
  <script src="js/angular.js"></script>
  <script src="js/angular-resource.js"></script>
  <script src="js/angular-mocks.js"></script>
  <script src="js/angular-ui-router.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/ui-utils.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>
  <script src="js/toastr.js"></script>
  <script src="js/ng-audio.js"></script>
  <script src="js/angular-media-player.js"></script>
  <script src="js/angular-cookies.js"></script>


  <!-- Application Scripts-->
  <script src="app/app.js"></script>

  <!-- Services -->
  <script src="common/services/common.services.js"></script>
  <script src="common/services/productResource.js"></script>
  <script src="common/services/chordResource.js"></script>
  <script src="common/services/tipResource.js"></script>
  <script src="common/services/improv1Resource.js"></script>
  <script src="common/services/improv2Resource.js"></script>
  <script src="common/services/themeResource.js"></script>    
  <script src="common/services/beatResource.js"></script>
  <script src="common/services/progressionResource.js"></script>
  <script src="common/services/productResourceMock.js"></script>
  <script src="common/services/productService.js"></script>
  


  <!-- Chord View Controllers-->
  <script src="app/chords/chordViewCtrl.js"></script>

  <!-- Progresion View Controllers-->
  <script src="app/progressions/progViewCtrl.js"></script>

  <!-- Improv Pattern View Controllers-->
  <script src="app/improv/improv1ViewCtrl.js"></script>
  <script src="app/improv/improv2ViewCtrl.js"></script>
  
  <!-- Tips Controllers-->
  <script src="app/tips/tipViewCtrl.js"></script>
  <script src="app/tips/tipListCtrl.js"></script>

  <!-- Theme Controllers-->
  <script src="app/themes/themeListCtrl.js"></script>

  <!-- Beat Controllers-->
  <script src="app/beats/beatViewCtrl.js"></script>

<!--
  $('.navbar-collapse a').click(function(){
    $(".navbar-collapse").collapse('hide');
  });
-->
</head>

<body >

	<nav class="navbar navbar-inverse">
		<div class="container">
			<a class="navbar-brand"
				ui-sref="home">Uke </a>
			<div class="navbar-header">
				<button type="button"
						class="navbar-toggle"
						data-toggle="collapse"
						data-target=".navbar-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="navbar-collapse collapse" >
				<ul class="nav navbar-nav">
					<li><a ui-sref="chordView">Chords</a></li>
          <li><a ui-sref="progView">Progressions</a></li>
          <li><a ui-sref="improv1View">Improv</a></li>
          <li><a ui-sref="beatView">Beats</a></li> 
           <li><a ui-sref="tipsView">Tips</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> Themes <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li ng-repeat="theme in vm.themes"><a ng-click="selectTheme(theme.themeId)">{{theme.themeName}}</a></li>
              <li class="divider"></li>
              <li><a ui-sref="Themes">Themes Preview</a></li>
            </ul>
          </li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
			<div data-ui-view></div>
	</div>

</body>

</html>