<div class="panel panel-primary" id="tipView">
	<div class="panel-body">
		<table class="table">
			<td class="col-xs-2">
				<ul >
					<li >
						 <a ng-class="active('Instrument')" ng-click="selectCatagory('Instrument')">Care</a>
					</li>
					<li >
						 <a ng-class="active('History')" ng-click="selectCatagory('History')">History</a>
					</li>
					<li >
						 <a ng-class="active('Lessons')" ng-click="selectCatagory('Lessons')">Lessons</a>
					</li>
					<li >
						 <a ng-class="active('Accessories')" ng-click="selectCatagory('Accessories')">Misc.</a>
					</li>
					<li >
						 <a ng-class="active('Styles')" ng-click="selectCatagory('Styles')">Styles</a>
					</li>
					<li >
						 <a ng-class="active('Songwriting')" ng-click="selectCatagory('Songwriting')">Writing</a>
					</li>
				</ul>
			</td>
			<td class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
				<div class="panel panel-primary" 
					 ng-repeat="tip in vm.filteredTips">
					<div class="panel-heading"
						 ng-click = "select(tip)"
						 ui-sref="tipsList({tipId: tip.tipId})">
						 	{{tip.tipName}} 
						 	<span class="glyphicon glyphicon-chevron-right"></span> 
					</div>
					<div class="panel-body discription">
						<!--some temparary tip discription--> 
						{{tip.tipDescription}}
					</div>
				</div>
			</td>
		</table>
	</div>
</div>
<!--
<div id="tips">
	<div id="tipTitle"> 
		{{vm.currentTip.tipName}}
	</div>
	<div id="tipText">
		<div class="row">
			<img ng-src="{{vm.currentTip.imageUrl}}"
			     title="{{tip.tipName}}">
			{{vm.currentTip.tipInfo}}
		</div>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default">
				    <div class="panel-heading" role="tab" id="headingOne{{vm.currentTip.tipId}}">
				      <h4 class="panel-title">
				        <button data-toggle="collapse" class="btn btn-primary title" type="button" data-parent="#accordion" href="#collapseOne{{vm.currentTip.tipId}}" aria-expanded="true" aria-controls="collapseOne{{vm.currentTip.tipId}}">
				          Tip #1
				        </button>
				      </h4>
				    </div>
				    <div id="collapseOne{{vm.currentTip.tipId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne{{vm.currentTip.tipId}}">
				      <div class="panel-body">
				        <p>{{vm.currentTip.tipInfo1}}</p>
				      </div>
				    </div>
			  	</div>
			  	<div class="panel panel-default">
			   		<div class="panel-heading" role="tab" id="headingTwo{{vm.currentTip.tipId}}">
			      	<h4 class="panel-title">
			        <button data-toggle="collapse" class="btn btn-primary title" type="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo{{vm.currentTip.tipId}}" aria-expanded="false" aria-controls="collapseTwo{{vm.currentTip.tipId}}">
			          Tip #2
			        </button>
			      	</h4>
			    	</div>
			    	<div id="collapseTwo{{vm.currentTip.tipId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo{{vm.currentTip.tipId}}">
				      	<div class="panel-body">
				        	<p>{{vm.currentTip.tipInfo2}}</p>
				      	</div>
			    	</div>
			  	</div>
			  	<div class="panel panel-default">
			    	<div class="panel-heading" role="tab" id="headingThree{{vm.currentTip.tipId}}">
			      	<h4 class="panel-title">
			        <button data-toggle="collapse" class="btn btn-primary title" type="button" class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree{{vm.currentTip.tipId}}" aria-expanded="false" aria-controls="collapseThree{{vm.currentTip.tipId}}">
			          Tip #3
			        </button>
			      	</h4>
			    	</div>
			    	<div id="collapseThree{{vm.currentTip.tipId}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree{{vm.currentTip.tipId}}">
				      	<div class="panel-body">
				        	<p>{{vm.currentTip.tipInfo3}}</p>
				      	</div>
			    	</div>
			  </div>
		</div>
	</div>
	<div class="row" id="NextBackBtn"> 
		<button ng-hide="vm.noPrev" class="btn btn-primary-nextBack"  ng-click="prevPage()">Prev</button>
		<button ng-hide="vm.noNext" class="btn btn-primary-nextBack"  ng-click="nextPage()">Next</button>
	</div>
</div>
-->	