<div class="panel panel-primary" id="altChords">
	<div class="panel-body">
		<table class="table">
				<td class="col-xs-1">
					<ul ng-repeat="chord in vm.filteredChords">
						<li >
							 <a class="active" ng-click="selectChord(chord)">{{chord.chordName}}</a>
						</li>
					</ul>
				</td>
				<td class="col-xs-11 col-sm-1 col-md-1 col-lg-1">
					<div>
						<img ng-if="!vm.onFlatSharp"
							 ng-src="{{vm.currentChord.imageUrl}}"
							 title="{{vm.currentChord.chordName}}">
						<img ng-if="vm.showFlat"
							 ng-src="{{vm.currentChord.flatUrl}}"
							 	title="{{selected.chordName}}">
						<img ng-if="vm.showSharp"
							 ng-src="{{vm.currentChord.sharpUrl}}"
							 	title="{{selected.chordName}}">
					</div>

					<div class = "row" id="sharpFlatNav">
 							<div class = "col-xs-2 col-sm-2 col-md-2"></div>
 							<div class = "col-xs-2 col-sm-2 col-md-2">
							<a ng-click="flat()" >b</a> </div>
							<div class = "col-xs-3 col-sm-5 col-md-5"></div>
							<div class = "col-xs-2 col-sm-2 col-md-2">
							<a ng-click="sharp()" >#</a> </div>
							<div class = "col-xs-2 col-sm-1 col-md-1"></div>
 						</div> 
				</td>
			</table>
		</div>
		<div class = "row" id="chordNav">
				<div class = "col-xs-1">
				<a class="active"  ng-click="goToChords('A')">A</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('B')" >B</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('C')" >C</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('D')" >D</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('E')" >E</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('F')" >F</a> </div>
				<div class = "col-xs-1">
				<a ng-click="goToChords('G')" >G</a> </div>
		</div>
	</div>
</div>