<div class="panel panel-primary" id="patternChords">
	<div class="panel-body">
		<table class="table">
			<td class="col-xs-1">
					<!-- maj pentatonics -->
					<ul >			
						<li >
							 <a ng-class="active('1')" ng-click="selectStyle('1', vm.currentPatterns.chordGroup)">MP 1</a>
						</li>
						<li >
							 <a ng-class="active('2')" ng-click="selectStyle('2', vm.currentPatterns.chordGroup)">MP 2</a>
						</li>
						<li >
						 	<a ng-class="active('3')" ng-click="selectStyle('3', vm.currentPatterns.chordGroup)">MP 3</a>
						</li>
						<li >
							 <a ng-class="active('4')" ng-click="selectStyle('4', vm.currentPatterns.chordGroup)">MP 4</a>
						</li>
						<li >
							 <a ng-class="active('5')" ng-click="selectStyle('5', vm.currentPatterns.chordGroup)">MP 5</a>
						</li>
					</ul>
					<!-- min pentatonics -->
					<ul >			
						<li >
							 <a ng-class="active('m1')" ng-click="selectStyle('m1', vm.currentPatterns.chordGroup)">mP 1</a>
						</li>
						<li >
							 <a ng-class="active('m2')" ng-click="selectStyle('m2', vm.currentPatterns.chordGroup)">mP 2</a>
						</li>
						<li >
							 <a ng-class="active('m3')" ng-click="selectStyle('m3', vm.currentPatterns.chordGroup)">mP 3</a>
						</li>
						<li >
							 <a ng-class="active('m4')" ng-click="selectStyle('m4', vm.currentPatterns.chordGroup)">mP 4</a>
						</li>
						<li >
							 <a ng-class="active('m5')" ng-click="selectStyle('m5', vm.currentPatterns.chordGroup)">mP 5</a>
						</li>
					</ul>
			</td>
			<td class="col-sm-1 col-md-1 col-lg-1"></td>				
			<td class="col-xs-11 col-sm-8 col-md-8 col-lg-8">
				<div>
					<img ng-src="{{vm.currentPatterns.imageUrl1}}"
						 title="{{vm.currentPatterns.patternName}}">
				</div>
				<div class="row" id="patternTitle">
					<div><span>{{vm.currentPatterns.patternName}}</span></div>
					<div><span>{{vm.currentPatterns.patternTitle}}</span></div>
				</div>
			</td>
			<td class="col-sm-3 col-md-3 col-lg-1"></td>
		</table>
	</div>
		<div class="row" id="patternNav">
			<div class = "col-xs-2 col-sm-3 col-md-3 col-lg-2"></div> 
			<div ng-repeat="chord in vm.filteredChords">
				<div class = "col-xs-1">
					<a ng-class="active(chord)" 
				   		ng-click="selectChord(chord)">{{chord.chordGroup}}</a>
		   		</div>
			</div>
			<div class = "col-xs-2 col-sm-3 col-md-3 col-lg-2"></div>
		</div>
</div>